.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1.5s ease-in forwards;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 2s ease-in forwards;
}


/* App.css */
/* Light theme styles */
body[data-theme='light'] {
  background-color: #ffffff;
  color: #000000;
}

/* Dark theme styles */
body[data-theme='dark'] {
  background-color: #000000;
  color: #ffffff;
}

/* Add any other global styles that should change based on the theme */



